@use 'sass:list';
@use '../variables' as var;
@use '../foundations/utils/breakpoint' as bp;

@each $key, $breakpoint in var.$breakpoints {
  $block: block inline inline-block;

  .u_bp-hide-#{$key} {
    @include bp.only($key) {
      display: none !important;
    }
  }
  .u_bp-hide-lte-#{$key} {
    @include bp.max($key) {
      display: none !important;
    }
  }
  .u_bp-hide-gte-#{$key} {
    @include bp.min($key) {
      display: none !important;
    }
  }
}
