@use '../variables' as var;

@each $color-class, $color-code in var.$colors {
  .u_t-#{$color-class} {
    color: $color-code !important;
  }
}

.u_t-left {
  text-align: left !important;
}

.u_t-center {
  text-align: center !important;
}

.u_t-right {
  text-align: right !important;
}

.u_t-just {
  text-align: justify !important;
}

.u_t-small {
  font-size: small !important;
}

.u_t-medium {
  font-size: medium !important;
}

.u_t-smaller {
  font-size: smaller !important;
}

.u_t-larger {
  font-size: larger !important;
}

.u_t-underline {
  text-decoration: underline !important;
}
